/* Agregando estilos:

1.-Posicionamiento --> static, absolute, relative, fixed
2.-Modelo de caja (Box model) --> margin, border, padding, content
3.-Tipografía --> tipos, tamaños de fuente, etc
4.-Estilos visuales --> box-shadow, border-radius, gradient, etc
5.-Otros --> reglas CSS y más */
:root{
--bitcoin-purple: #8b16c2 ;
--soft-orange: #ffe9d5;
--secondary-blue: #003e5d ;
--thretteary-blue:#014161;
--black: #201e1c;
--grey: #7d7d7d;
--off-white: #faf8f7;
--just-white: #fff;
--font-title: 2.7rem;
--font-subtitle: 1.6rem;
--font-title-card: 2.0rem;
--font-subtitle-card: 1.5rem;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'DM Sans' sans-serif;
}
.header{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, var(--secondary-blue) 16.69%, var(--bitcoin-purple) 100%);
    box-shadow: 0 4px 7px var(--black);
}
.header__logo{
    width: 170px;
    height: 95px;
    margin-top: 60PX;
    align-self: center;
    border-radius: 10px;
}
.header__title-container{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 30px;
}
.header__title{
    font-size: var(--font-title);
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}
.header__subtitle{
    font-size: var(--font-subtitle);
    margin-top: 25px;
    font-weight: 500;
    line-height: 1.8rem;
    /* min-width: 320px; ¿*/
    color: var(--soft-orange);
}
.header__title-container .header__button {
    position: absolute;
    left: calc(50% - 115px);
    top: 270px;
    display: flex;
    margin-top: 35px;
    padding: 15px 0 15px 24px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    box-shadow: 0px 4px 0px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: var(--font-subtitle);
    font-weight: bold;
    text-decoration: none;
    color: var(--black);  
    transition: .5s;
}
.header__title-container .header__button:hover{
    background: linear-gradient(207.8deg, #005884 16.69%, var(--bitcoin-purple) 100%);
    color: var(--just-white);
    box-shadow: 0 -2px 0 1px var(--off-white);
}
.header__button-icon{
    display: inline-block;
    margin-left: 10px;
}
.main{
    width: 100%;
    min-width: 320px;
    height: auto;
}
.seccion-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--off-white);
    box-shadow: 0 4px 7px var(--black);
}
.seccion-1__cat-image{
    margin-top: 50px;
    width: 100px;
    height: 120px;
    border-radius: 10px;
}
.seccion-1__description-container{
    text-align: center;
    margin-top: 20px;
    width: 90%;
    max-width: 700px;
}
.seccion-1__description-title{
    margin-bottom: 20px;
    font-size: var(--font-title);
}
.seccion-1__description-text{
    margin-bottom: 20px;
    font-size: var(--font-subtitle);
    color: var(--grey);
}
.seccion-1__tablet-description-title{
    margin-bottom: 25px;
    font-size: var(--font-subtitle);
    font-weight: bold;
    font-family: "Inter" , sans-serif;
    color: var(--bitcoin-purple);
}
.seccion-1__tablet-table{
    text-align: center;
    padding: 5px;
    margin-bottom: 40px;
    font-family: "Inter" , sans-serif;
    box-shadow: -2px 4px 15px var(--black);
    border-radius: 10px;
}
.seccion-1__tablet-description-container th, td{
    padding: 10px;
    background-color: var(--bitcoin-purple);
    border-radius: 5px;
    color: var(--just-white);
}
.seccion-1__tablet-description-container th, td:nth-child(1){
    font-weight: bold;
}
.seccion-1__tablet-description-container th, td:nth-child(3){
    display: flex;
    align-items: center;
}
.seccion-1__update-container{
    padding: 10px;
    margin-bottom: 28px;
    background-color: var(--secondary-blue);
    border-radius: 5px;
}
.seccion-1__update-text{
    color: var(--just-white);
}
.seccion-1__container-cat-icon{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 288px;
    top: 15px;
}
.seccion-1__img-icon-cat{
    width: 40px;
}
.seccion-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: var(--secondary-blue);
}
.seccion-2__description-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 28px;
}
.seccion-2__description-title{
    font-size: var(--font-title);
    margin-bottom: 20px;
    color: var(--just-white);
}
.seccion-2__description-text{
    font-size: var(--font-subtitle);
    margin-bottom: 20px;
    color: var(--just-white);
}
.seccion-2__card-container{
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 100%;
    
}
.seccion-card{
    margin-bottom: 40px;
    height: auto;
    width: 75%;
    max-width: 400px;
    padding: 15px 10px;
    border-radius: 10px;
    background-color: var(--thretteary-blue);
    box-shadow: 0 4px 2px var(--black);
    transition: .5s;
}
.seccion-card:hover{
    box-shadow: 0 4px 2px var(--off-white);
    background-color: #00486ca0; 
}
.seccion-2__card-title{
    font-size:var(--font-title-card);
    margin-bottom: 22px;
    color: var(--just-white);
}
.seccion-2__card-text{
    font-size: var(--font-subtitle-card);
    color: var(--just-white);
}
.seccion-3{
    display: flex;
    flex-direction: column;
    background-color: var(--off-white);
}
.seccion-3__container__img-adopcion {
    width: 100%;
}
.seccion-3__img-adopcion {
    width: 100%;   
}
.seccion-3__card-container-adopcion {
    display: flex;
    align-items: center;
    height: 416px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    gap: 30px;
}
.seccion-3__title-adoption {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -150%);    
    font-size: var(--font-title);
    color: var(--just-white);
    text-shadow: 2px 4px 3px var(--bitcoin-purple);
    font-family: "Inter" , sans-serif;
}  
.seccion-3__card-adopcion {
    display: flex;
    scroll-snap-align: center;
    align-items: center;
    flex-direction: column;
    min-width: 260px;
    width: 75%;
    max-width: 400px;
    padding: 15px 50px;
    border-radius: 10px;
    background-color: var(--thretteary-blue);
    box-shadow: 0 4px 2px var(--black);
  } 
.seccion-3__card-icon-adopcion {
    width: 180px;
    height: 180px;
    border-radius: 4px;
}
.seccion-3__card-title-adopcion {
    margin-top: 15px;
    color: var(--just-white);
    font-size: var(--font-title-card);
}
.seccion-3__button-adoption {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    padding: 10px;
    font-size: 1.8rem;
    text-decoration: none;
    border-radius: 20px;
    color: var(--black);
    background-color: var(--just-white);
    transition: .5s;
}
.seccion-3__button-adoption:hover{
    background: linear-gradient(207.8deg, #005884 16.69%, var(--bitcoin-purple) 100%);
    color: var(--just-white);
    box-shadow: 0 2px 2px var(--off-white);
}
.material-symbols-outlined {
    margin-left: 10px;
}
.Container__fo-log{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(207.8deg, #005884 16.69%, var(--bitcoin-purple) 100%);
    box-shadow: 02px 0px 7px var(--black);
    min-width: 320px;
    width: 100%;
}
.container__fo-link{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
}
.footer__logo{
    margin-top: 13px;
    width: 100%;
    height: 50px;
    border-radius: 5px;
}
.fo__link{
    margin-bottom: 10px;
    padding: 5px;
    color: var(--just-white);
    text-decoration: none;
    font-size: 1.5rem;
    border-radius: 10px;
}
.fo__link:hover{
    color: var(--just-white);
    background-color: var(--bitcoin-purple);
}
.fo__link-2{
    margin-left: 6px;
    color: var(--just-white);
    font-size: 1.5rem;
}
.log-img{
    margin-left: 5px;
    width: 20px;
    height: 20px;
}
.log-img:hover{
    color: var(--just-white);
    background-color: var(--bitcoin-purple);
}